body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--text-color);
  

}

body{
  /* font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal; */
  font-family: "Pacifico", cursive;
  font-weight: 250;
  font-style: normal;
}
input{
    font-family:"Pacifico", cursive ;
}
.navbar{
  background-color: var(--theme);
  box-shadow: 0 4px 8px var(--shadow-color);
  height: 50px;
  padding:  5px;
  display: flex;
  align-items: center;
  font-size: 25px;
  color: aliceblue;
}

.logo_link{
  margin-left: auto;
}



